@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@theme {
    /* Light mode colors */
    --color-primary: rgb(32, 96, 53);
    --color-accent-red: rgb(206, 43, 55);
    --color-gold: rgb(212, 175, 55);
    --color-background-light: rgb(251, 250, 249);
    --color-background-dark: rgb(28, 31, 34);
  

  /* .dark {
    You can override colors for dark mode here if needed
  } */

  /* body {
    font-family: "Manrope", sans-serif;
  } */
}

body {
  font-family: "Manrope", sans-serif;
}

@utility bg-primary {
  background-color: rgb(var(--color-primary));
}
  
@utility bg-accent-red {
  background-color: rgb(var(--color-accent-red));
}
  
@utility bg-gold {
  background-color: rgb(var(--color-gold));
}

@utility bg-background-light {
  background-color: rgb(var(--color-background-light));
}

@utility bg-background-dark {
  background-color: rgb(var(--color-background-dark));
}

@utility text-primary {
  color: rgb(var(--color-primary));
}

@utility text-accent-red {
  color: rgb(var(--color-accent-red));
}

@utility text-gold {
  color: rgb(var(--color-gold));
}

@utility border-primary {
  border-color: rgb(var(--color-primary));
}

@utility border-accent-red {
  border-color: rgb(var(--color-accent-red));
}

@utility border-gold {
  border-color: rgb(var(--color-gold));
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.italy-gradient {
  background: linear-gradient(to right, #206035 0%, #206035 33%, #ffffff 33%, #ffffff 66%, #CE2B37 66%, #CE2B37 100%);
  height: 4px;
}